.Home

  .H__User
    display: flex
    border-bottom: 0.6px solid #cecece

    .HU__Picture
      width: 80px
      height: 80px
      opacity: 0.9
      box-shadow: -3px 2px 5px 0px rgba(0,0,0,0.75)


    .HU__Title
      width: 90%
      text-shadow: 3px 3px 20px #000000

      .HUT__Salutation
        font-size: 2rem
        color: rgba(#fff, 0.7 )
      
      .HUT__Name
        margin-bottom: 10px
        color: rgba(#fff, 0.8 )
        
        font-size: 2rem
        font-weight: bold

      .HUT__Logof
        margin-left: 10px
        font-size: 1rem
        color: rgba(#fff, 0.7 )
        margin-bottom: 30px

  
  
.Container
  width: 100%
  height: 100%
  overflow: auto

  background-color: #542682

  .C__Wallet
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 15px

    width: 100%
    height: 100%

    margin-top: 50px
    
    background-color: #e4c8ff11
    border-radius: 20px
    box-shadow: -3px 2px 5px 0px rgba(0,0,0,0.75)


    .CW__Name
      font-size: 24px
      font-weight: bold
      color: rgba(#fff, 0.7 )

    
    .CW__Value
      font-size: 22px
      color: rgba(#fff, 0.7 )


    .CW__Movement
      display: flex
      justify-content: space-
      
    .CW__InputValues
      margin-right: 20px
      color: rgba(#fff, 0.7 )
    
    .CW__OutputValues
      color: rgba(#fff, 0.7 )

    .CW__Lastdays 
      margin: 30px 0 10px 0
      color: rgba(#fff, 0.7 )


  .C__Tab
    position: absolute
    width: 100%
    z-index: 3
    bottom: 0
    background-color: rgb(90, 0, 126)

    .CT__Itens
      color: rgba(#fff, 0.7 )
    
    .CT__Container
      box-shadow: -3px 2px 5px 0px rgba(0,0,0,0.75)

  .C__Add
    position: absolute
    bottom: 15%
    right: 5%

    .CA__Button
      background-color: #5c2286
 
.ListCore 
  background-color: rgb(70, 0, 97)
  color: rgba(#fff, 0.7 )

.balance 
  margin-top: 50%

  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 5%

  .LC_Text
    font-size: 22px
    font-weight: bold
    color: rgba(#fff, 0.7 )

  .LC_Icon
    margin-top: 20%
    color: rgba(#fff, 0.7 )
    width: 80px
    height: 80px
  
